@import 'colors';

.pictures {
	.thumbs-container {
		max-width: 1000px;
		width: 100%;
		margin: 20px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.thumb {
			width: 300px;
			height: 300px;
			background-color: $white;
			margin: 5px;
			box-shadow: 0 5px 15px $transparentGray;
			border-radius: 10px;
			box-sizing: border-box;
			transition: all 0.3s ease-in-out;
			overflow: hidden;

			&:hover {
				box-shadow: 0 5px 25px $transparentGray;
				cursor: pointer;
			}

			.thumb-image {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-color: #999;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					box-shadow: none;
					transition: all 0.3s ease-in-out;			
				}

				&:hover:after {
					box-shadow: inset 0 0 500px rgba(0,0,0,0.3);
				}
			}
		}
	}

	.photo-background {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background-color: $darkTransparentGray;
		transition: all 0.3s ease-in-out;
		display: flex;
		justify-content: center;
		align-items: center;

		.photo-container {
			max-width: 1200px;
			max-height: 85vh;
			border-radius: 10px;
			overflow: hidden;
			position: relative;
			box-shadow: 0 10px 20px $transparentGray;

			.photo-header {
				max-height: 85vh;
				max-width: 1200px;
				position: relative;
			}

			.photo-scroll {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: auto;

				.meta-info {
					top: 100%;
					position: relative;
					padding: 10px 20px;
					background-color: $white;
					border-radius: 0 0 10px 10px;
					box-shadow: 0 -10px 10px $transparentGray;

					.scroll-label {
						position: absolute;
						top: -22px;
						color: $white;
						font-size: 15px;
						left: calc(50% - 25px);
						font-weight: bolder;
						text-shadow: 0 0 3px $darkTransparentGray;
					}
				}
			}
		}
	}
}