.game-board {
	width: 800px;
	height: 500px;
	background-color: #FFF;
	position: relative;

	.full-screen-button {
		width: 50px;
		height: 50px;
		border: none;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		border-radius: 3px;
		position: absolute;
		top: 10px;
		right: 10px;
		outline: none;
		z-index: 1;


		svg {
			width: 100%;
			height: 100%;
		}

		&:hover {
			background-color: #CCC;
		}
	}

	.Game {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.board-container {
			background-color: #FFF;
			position: absolute;

			.board {
				background-color: $boardColor;

				.water {
	    			border-radius: 100%;
	    			background-color: $water;
	    			position: absolute;
				}

				.particle {
					width: 5px;
					height: 5px;
					border-radius: 100%;
					background-color: black;
					position: absolute;

					&.herbivore {
						background-color: #338833;
					}
				}
			}
		}


		.full-size {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.Controls {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			display: flex;

			.menu-button {
				position: relative;
				display: inline-block;

				> ul {
					display: none;
					position: absolute;
					bottom: 42px;
					left: 3px;
					width: 150px;
					border-radius: 3px;
					background-color: #FFF;
					font-size: 13px;
					margin: 0;
					padding: 5px;
					box-sizing: border-box;

					li {
						list-style-type: none;
						padding: 5px;
						transition: all 0.3s ease-in-out;

						&:hover {
							background-color: #CCC;
						}
					}
				}

				&:hover {
					>  	ul {
						display: block;
					}

					.menu-icon {
						margin-top: 0;
					}
				}
			}

			button, .menu-icon {
				border: none;
				background-color: #FFF;
				cursor: pointer;
				transition: all 0.3s ease-in-out;
				border-radius: 3px;
				outline: none;
				padding: 10px 5px;
				font-size: 13px;
				margin: 3px;

				&:hover {
					background-color: #CCC;
				}
			}
		}
	}
}