.flex-spacer {
	flex: 1;
}

.page-view {
	flex: 1;
	background-color: #60808B;
	width: 100vw;
}

.Header {
	width: 100vw;
	height: 60px;
	background-color: #00202B;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 50px;
	font-weight: bolder;
	line-height: 50px;

	.tabs {
		font-size: 13px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		a {
			text-decoration: none;
			color: #FFF;
			height: 100%;
			padding: 20px;
			box-sizing: border-box;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			transition: text-shadow 0.3s ease-in-out;

			&:first-child {
				background-color: #CFCC00;
			}

			&:hover {
				background-color: #F3F6F8;
				color: #333333;
				text-shadow: 0 1px 3px rgba(0,0,0,0.3);
			}
		}
	}
}