@import './colors';

@import './header';
@import './content';
@import './game';

.Content {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}